.f-d-b {
    display: block;
}
.f-n {
    resize: none;
}

// margin系列
.f-m-0 {
    margin: 0 !important;
}
.f-m-l-5 {
    margin-left: 5px !important;
}
.f-m-r-5 {
    margin-right: 5px !important;
}
.f-m-t-10 {
    margin-top: 10px !important;
}
.f-m-b-10 {
    margin-bottom: 10px !important;
}
.f-m-t-35 {
    margin-top: 35px !important;
}
.f-m-b-35 {
    margin-bottom: 35px !important;
}

// padding系列
.f-p-0 {
    padding: 0 !important;
}

// display系列
.f-dn {
    display: none;
}

// position系列
.f-pr {
    position: relative;
}