// 公共组件

//导航条
.g-hd {
    background: #F8F8F8;
    padding: 25px 0;
    border-bottom: 1px solid #ddd;
    box-shadow: 0 0 2px #BBB;
    .crumb {
        color: #aaa;
        padding: 3px 20px;
        padding: 3px 20px;
        margin: 0;
        li {
            float: left;
            font-size: 14px;
            line-height: 25px;
            margin: 0;
            padding: 0;
            list-style: none;
        }
        li+li {
            margin-left: 5px;
        }
    }
}
// 正文
.g-bd {
    background: white;
    box-shadow: 0px 1px 5px #ccc;
}