<div ms-if='show' class="g-bd f-mt20 f-cb">
	<ul class="g-pa f-pr">
		<li>
			<!-- 前一页 -->
			<a class="f-bln no-jumping" href="javascript:void(0)"
				ms-click='jump(page-1)'
				ms-class='disabled:page == 1 || isLoading' >
				<i class="fa fa-arrow-left"></i>
			</a>
		</li>

		<li ms-repeat='list'>
			<a class='no-jumping'
				ms-if='el != -1'
				ms-class="active:el == page && !isLoading"
				ms-class-1='disabled:isLoading'
				ms-click='jump(el)'
				href="javascript:void(0)">
				<span ms-if='!isLoading'>{[{el}]}</span>
				<span ms-if='isLoading'><i ms-if='el == page' class="fa fa-refresh fa-spin f-mr5"></i>{[{el}]}</span>
			</a>

			<a class='disabled no-jumping' ms-if='el == -1' href="javascript:void(0)">...</a>
		</li>
		<!-- 后一页 -->
		<li>
			<a class="no-jumping f-brn" href="javascript:void(0)"
				ms-class='disabled:page == allPage || isLoading'
				ms-click='jump(page+1)'>
				<i class="fa fa-arrow-right"></i>
			</a>
		</li>
	</ul>
</div>