// 覆盖字体样式
* {
    font-family: Helvetica,'microsoft yahei',Arial,sans-serif;
}

// footer固定在底部
#doc {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -393px;
    padding-top: 42px;
}

// footer样式
#footer {
    margin: 50px 0 0;
    padding: 50px 0;
}

#footer,
#push {
    height: 343px;
}

// menu
.top-menu {
    height: 42px;
}

// logo大小
.ui.menu .container .item>img {
    width: 22px;
    margin-right: 5px;
}

// avalon遮羞
[ms-controller] {
    visibility: hidden;
    display: none;
}